body {
  scrollbar-color: rgb(80, 80, 80) rgb(51, 51, 51);
  background-color: rgb(31, 31, 31);
  font-family: Arial, sans-serif; 
}

#results {
  max-height: 200px;
  overflow-y: auto;
}

.question:hover {
  background: rgb(51, 51, 51);
}

.answer:hover {
  background: rgb(51, 51, 51);
}
